h2{
	margin-top: -10rem;

}
h1{
	width: auto;
	margin-top: 30px;
}

.battle-heading{
    grid-row: 1/2;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.battle-heading>h1 {
    font-family: 'Mali Regular';
}
.battle-hamster{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family: 'Mali Bold';
    border-radius: 0.2em;
}
.battle-vs{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
}
.battle-vs>h1{
    font-family: 'Mali Regular';
}
.opponent-hamster{
    grid-column: 3/4;
    grid-row: 2/4;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    font-family: 'Mali Bold';
    border-radius: 0.2em;
}
.winner-button1{
    display: flex;
    height: 4em;
    width: 22em;
    border-radius: 0.3em;
    border: none;
    background-color: #12151F;
    align-items: center;
    justify-content: center;
    font-family: 'Mali Bold';
    font-size: 24px + 2vmin;
    transition: all 0.7s;
    grid-column: 1/2;
    grid-row: 3/4;
    text-transform: uppercase;
    color:#05F4B7;
    margin-top: -15em;
}
.winner-button1:hover{
    cursor: pointer;
    transition: all 0.7s;
    font-size:medium;
    background-color: #371BB1;
    color:#05F4B7;
}
.winner-button2{
    display: flex;
    height: 4em;
    width: 22em;
    border-radius: 0.3em;
    border: none;
    background-color: #12151F;
    align-items: center;
    justify-content: center;
    font-family: 'Mali Bold';
    font-size: 24px + 2vmin;
    transition: all 0.7s;
    grid-column: 3/4;
    grid-row: 3/4;
    text-transform: uppercase;
    color:#05F4B7;
    margin-top: -15em;
}
.winner-button2:hover{
    cursor: pointer;
    transition: all 0.7s;
    font-size:medium;
    background-color: #371BB1;
    color:#05F4B7;
}
.wins-losses{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    /* background-color:#FBFAF5 ; */
    width: 84em;
    height: 46em;
    border-radius: 0.2em;
    align-items: center;
    justify-content: center;
    border-radius: 0.2em;
    z-index: 99;
}
.winner-button1:disabled{
    display: none;
}
.winner-button2:disabled{
    display: none;
}
.disabled-battle-heading{
    display: none;
};

p{
	margin-top: 10rem;

}