.btn{
	background-color: pink;
	color: black;
}
.three-columns {
	width: 32%;
	display: inline-;
}

img {
	width: 150px;
	height: 150px;
	margin-top: 28px;
	align-content: space-around;
	border-radius: 8px;

	


}
.imgName{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
img:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.body {
	flex-direction: row;
}

.box {
	display: flex;
	padding: 1 4px;
	justify-content: space-between;
	flex-wrap: wrap;
}

button {
	display: inlane-block;
	padding:0.35 1.70em;
	border:0.5em solid #FFFFFF;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	text-transform: uppercase;
	font-family:'Roboto',sans-serif;
	font-weight: 300;
	color: #e49dcf;
	text-align: center;
	transition: all 0.2s;

}

button:hover {
	color: #000000;
	background-color: #e294b9;
}
.btn, btn-primary {
  height: 20px;
  display: inline-block;
  padding: 18px 30px;
  font-size: 15px;
  margin-top: 9%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(5, 5, 5);
  background-color: palevioletred;
  border: none;
  border-radius: 30px;
  box-shadow: 0 9px paleturquoise;

}
.btn:hover {background-color: palevioletred}
.btn:active {
	background-color: palegreen;
	box-shadow: 0 5px paleturquoise;
	transform: translateY(4px);
  }